body{
    font: normal 14px 'Times New Roman', Times, serif;
    line-height: 1.3em, 
    background-color: white;
    color: black;
    margin:0;
    }
    
.button1 {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
    
.button2 {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;      
}
      
.container-1{
    display:flex;
    padding:20px 50px
}
  
.container-2{
    display:flex; 
    padding: 50px;
    background-color: rgb(255, 217, 0);
    color: white;
    text-align: left;
    justify-content: space-between;
    flex-basis: 50%;
}

.container-3{
    display:flex;  
    padding: 50px;
    text-align: center;
    justify-content:space-between;
    flex-basis: 30%;
}

